<!DOCTYPE html>
<html lang="en">
{{ template "meta.html" . }}
<body class="px-0 py-0 mx-0 my-0">
    <!-- HEADER -->
    {{ template "header.html" . }}
    <section class="my-10 px-12">
        <h1 class="text-4xl md:text-6xl mukta_font">
            Blog post editor
        </h1>
        {{ if .PostID }}
            <p>
                post ID: {{.PostID}}
            </p>
        {{end}}
        <form>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Title
            </label>
            <input type="text" placeholder="Title" value="{{.post_title}}">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Title
            </label>
            <input type="text" placeholder="Title" value="{{.post_title}}">
        </form>
    </section>
</body>

</html>