<!DOCTYPE html>
<html lang="en">
{{ template "meta.html" . }}
<body class="px-0 py-0 mx-0 my-0">
    <style>
        input[type="file"] {
            font-size: 17px;
            color: #b8b8b8;
            background-color: white;
        }
    </style>
    <!-- HEADER -->
    {{ template "header.html" . }}
    <section class="my-10 px-12">
        <h1 class="text-4xl md:text-6xl mukta_font">
            Blog post editor
        </h1>
        {{ if .PostID }}
        <p>
            post ID: {{ .PostID }}
        </p>
        {{end}}
        <!-- Title -->
        <label class="uppercase tracking-wide font-bold">
            Post Title
        </label>
        <br>
        <input class="outline-none border-black border-solid border-b-4 w-full" type="text" placeholder="Title" value="{{.PostTitle}}">
        <br>
        <!-- Image -->
        <label class="uppercase tracking-wide font-bold">
            Post Image
        </label>
        <br>
        <!-- File -->
        <label for="uploadfile" class="uppercase tracking-wide font-bold">
            Choose File
        </label> 
        <span id="file-choosen"> No file chosen </span>
        <br>
        <input id="uploadfile" class="outline-none border-black border-solid border-b-4" type="file" name="uploadfile"/>
        <br>
        <!-- Synopsis -->
        <!-- Related Posts -->
        <!-- Content -->
        <label class="uppercase tracking-wide font-bold">
            Post Content
        </label>
        <br>
        <textarea class="outline-none border-black border-solid border-b-4 p-2 w-full" placeholder="Content">{{ .PostContent}}</textarea>
    </section>
</body>

</html>