<header class="w-screen flex flex-row items-center p-1 justify-between bg-white shadow-xs">
    <div id="logo-header" class="ml-6">
        <object class="w-20" type="image/svg+xml" data="/public/images/logo.svg" alt="site logo">
            <img src="/public/images/logo.png" alt="site logo">
        </object>
    </div>
    <nav class="mx-8" id="options-header">
        <button class="transition text-black text-lg hover:text-zinc-700 hover:text-xl"> ABOUT </button> 
        <button class="transition text-black text-lg hover:text-zinc-700 hover:text-xl"> CONTACT </button>
    </nav>
</header>