<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}
<body>
    <header class="w-screen flex flex-row items-center p-1 justify-between bg-white shadow-xs">
        <div id="logo-header" class="ml-6">
            <object class="w-20" type="image/svg+xml" data="/public/images/logo.svg" alt="site logo">
                <img src="/public/images/logo.png" alt="site logo">
            </object>
        </div>
        <nav class="mx-8" id="options-header">
            <button class="transition text-black text-lg hover:text-zinc-700 hover:text-xl"> ABOUT </button> 
            <button class="transition text-black text-lg hover:text-zinc-700 hover:text-xl"> CONTACT </button>
        </nav>
    </header>
    <main class="px-12">
        <section class="mt-10">
            <p class="segmented_font text-center">
                01100010 01110101 01111001 00100000 01100010 01101001 01110100 01100011 01101111 01101001 01101110
            </p>
            <div class="md:px-12">
                <h5 class="aldo_font -mb-3 ml-3"> afa7789 </h5>
                <h1 class="text-4xl md:text-6xl mukta_font"> Computer Engineering Solutions
                </h2>
                <h2> Arthur Abeilice</h2>
                <p>  lorem ipsum </p>
                <div>
                    <button>call to action</button>
                </div>
            </div>
        </section>
        <section>
            <h2>afa7789</h2>
            <div>
                <h3>github</h3>
                <btn>button</btn>
            </div>
            <div>
                <h3>linkedin</h3>
                <p>button</p>
            </div>
        </section>
        <section>
            <h2>Serviços</h2>
            <div>
                <div>
                    <p> number </p>
                    <h3>
                        sub-title
                    </h3>
                    <p> lorem-ipsum</p>
                </div>
            </div>
            <div>
                <button>call to action</button>
            </div>
        </section>
        <section class='my-8'>
            <div class="mx-4 md:mx-12"> 
                <h2 class="text-xl">CONTACT</h2>
                <div class="md:flex ">
                    <div class="md:w-3/6">
                        <h3 class="text-lg text-zinc-700">
                            CONTACT US
                        </h3>
                        <h1 class="text-5xl md:text-6xl mukta_font ">
                            Lets start your project
                        </h1>
                        <p class="text-zinc-700 text-lg mt-4">
                            Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept one we are.
                        </p>
                    </div>
                    <form class="contact-form md:w-3/6 flex flex-col mt-3 md:mt-0 md:px-8 space-y-4" action=”mailto:afa7789@gmail.com”>
                        <input id="name"
                            class="border-black border-solid border-b-4 w"
                            type="text" name="your-name" placeholder="Name">
                        <input id="contact-email"
                            class="border-black border-solid border-b-4"
                            type="email" name="your-email" placeholder="Email">
                        <input id="subject"
                            class="border-black border-solid border-b-4"
                            type="text" name="your-subject" placeholder="Subject">
                        <textarea
                            id="message"
                            class="h-150 border-black border-solid border-b-4"
                            name="your-message"
                            placeholder="Message">
                        </textarea>
                        <input type="submit" value="SEND">
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer class="flex flex-col">
        <div class="flex justify-center space-x-6 flex-wrap md:flex-nowrap ">         
            <h4>Linkedin</h4>
            <h4>Instagram</h4>
            <h4>BlogPosts</h4>
            <h4>Github</h4>
            <h4>Spotify</h4>
        </div>
        <div class="before:content-[''] before:mb-4 before:block before:border-solid before:border-b-2 before:border-black  mx-auto my-4">
            afa7789 Computer Engineering Solutions Ltda @ 2021
        </div>
    </footer>
</body>
</html>