<!DOCTYPE html>
<html lang="en">
{{ template "header.html" . }}
<body>
    <header>
        <div id="logo-header">logo</div>
        <nav id="options-header">opções</nav>
    </header>
    <main>
        <section>
            <p>compre bitcoin</p>
            <h1>afa7789</h1><h3> Arthur Abeilice</h3>
            <h2> Computer Engineer</h2>
            <p> lorem ipsum </p>
            <div>
                <button>call to action</button>
            </div>
        </section>
        <section>
            <h2>afa7789</h2>
            <div>
                <h3>github</h3>
                <p>button</p>
            </div>
            <div>
                <h3>linkedin</h3>
                <p>button</p>
            </div>
        </section>
        <section>
            <h2>Serviços</h2>
            <div>
                <div>
                    <p> number </p>
                    <h3>
                        sub-title
                    </h3>
                    <p> lorem-ipsum</p>
                </div>
            </div>
            <div>
                <button>call to action</button>
            </div>
        </section>
        <section>
            <div>
                <h2>CONTACT</h2>
                <div>
                    <div>
                        <h3>
                            contact me
                        </h3>
                        <h1>
                            Lets start your project
                        </h1>
                        <p>
                            Because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept one we are.
                        </p>
                    </div>
                    <form class="contact-form" action=”mailto:afa7789@gmail.com”>
                        <input id="name" type="text" name="your-name" placeholder="Name">
                        <input id="contact-email" type="email" name="your-email" placeholder="Email">
                        <input id="subject" type="text" name="your-subject" placeholder="Subject">
                        <textarea id="message" name="your-message" placeholder="Message"></textarea>
                        <input type="submit" value="SEND">
                    </form>
                </div>

            </div>
        </section>
    </main>
    <footer>
        <div>
            <h4>
                redes sociais
            </h4>
        </div>
        <div>
            afa7789 Computer Engineering Solutions Ltda @ 2021
        </div>
    </footer>
</body>
</html>