<footer class="flex flex-col pt-5">
    <div class="flex justify-center space-x-6 flex-wrap md:flex-nowrap ">
        <a href="https://www.linkedin.com/in/arthur-abeilice/">
            <h4>Linkedin</h4>
        </a>
        <a href="https://afa7789.medium.com/">
            <h4>BlogPosts</h4>
        </a>
        <a href="https://github.com/afa7789">
            <h4>Github</h4>
        </a>
        <a href="https://open.spotify.com/playlist/1xfwH5ZljgSH40RFkGZkE4">
            <h4>Spotify</h4>
        </a>
    </div>
    <div
        class="before:content-[''] before:mb-4 before:block before:border-solid before:border-b-2 before:border-black  mx-auto my-4">
        afa7789 Computer Engineering Solutions Ltda @ 2021
    </div>
</footer>