<footer class="flex flex-col pt-5">
    <div
        class="before:content-[''] before:mb-4 before:block before:border-solid before:border-b-2 before:border-black  mx-auto my-4">
        <p class="text-sm sm:text-base pl-2 sm:pl-0">
            afa7789 Computer Engineering Solutions Ltda @ 2021
        </p>
        <div class="flex">
            <a class="m-auto my-1  text-center" href="https://github.com/afa7789/gofiber-website">
                <img class="w-5 inline-block" type="image/svg+xml" src="/public/images/drawing_black.svg" alt="site logo">
                this website is open sourced at github.
            </a>
        </div>

    </div>
    
</footer>